# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


eggs/
.eggs/

*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec


# Environments

env.bak/
venv.bak/
out/ckpt.pt
